<h1>Edit User</h1>
<p>Find me in app/views/user/edit.html.erb</p>

<%= form_for @user do |f| %>
  <%= f.text_field(:name, placeholder: 'Name') %>
  <%= f.text_field(:user_name, placeholder: 'User Name') %>
  <%= f.text_field(:email, placeholder: 'Email') %>
  <%= f.submit "Update Profile" %>
<% end %>
