<h1>Edit User</h1>
<p>Find me in app/views/user/edit.html.erb</p>

<%= form_for @user do |f| %>
  <%= f.label :name %>
    <%= f.text_field(:name, placeholder: 'Name') %><br>
  <%= f.label :user_name %>
    <%= f.text_field(:user_name, placeholder: 'User Name') %><br>
  <%= f.label :email %>
    <%= f.text_field(:email, placeholder: 'Email') %><br>
  <%= f.submit "Update Profile" %>
<% end %>
