<h1>Account Infomation Page</h1>

<%= form_for @user, :html => {class: 'edit_user form-horizontal'} do |f| %>
  <div class="row"><legend class="col-sm-4 col-sm-offset-4">Edit Account Info</legend></div>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, 'Name', class: 'col-sm-4 control-label' %>
      <div class="col-sm-6" style="margin-bottom: -25px;">
        <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %><br>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :user_name, 'User Name', class: 'col-sm-4 control-label' %>
      <div class="col-sm-6" style="margin-bottom: -25px;">
        <%= f.text_field :user_name, placeholder: 'User Name', class: 'form-control' %><br>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, 'Email',class: 'col-sm-4 control-label' %>
      <div class="col-sm-6" style="margin-bottom: -25px;">
        <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %><br>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-4">
        <%= f.submit "Update Profile", class: 'btn btn-success' %>
      </div>
    </div>
  </fieldset>
<% end %>
