<h1><%= @user.name.capitalize %>'s Profile Page</h1>
<%= link_to "Edit Info", edit_user_path %>

<!-- Making, changing, or deleting a post -->
<h2>New Anime</h2>
<%= form_for @post do |up| %><br>
<!-- made the text_fields required in order to post -->
  <%= up.text_field :title, placeholder: "Anime Name", :required => 'required' %><br>
  <%= up.text_area :body, placeholder: "What about the anime do you want to share?", :required => 'required' %><br>
  <%= up.hidden_field :user_id, :value => @user.id %>
  <%= up.submit "Add new Anime to your list" %>
<% end %>

<!-- Print out each posts title and description of that users -->
<h2><%= @user.name.capitalize %>'s Anime list</h2>
<article>
  <% @user.posts.each do |p| %>
    <h4><%= p.title %><br></h4>
    <%= p.body %><br>
    posted <%= time_ago_in_words p.updated_at %> ago<br>
    <span style="margin-right: 10px; margin-left: 10px;"><%= link_to "Edit Post", edit_post_path(p) %></span>
    <%= link_to 'Delete', p, method: :delete %><br><br>
    <% p.comments.each do |pc| %>
    <%= link_to pc.user.user_name, user_path(pc.user) %><br>
    <div>
      <%= pc.body %><br>
      left comment <%= time_ago_in_words pc.created_at %> ago
      <%= link_to pc, method: :delete, class: "btn btn-default" do %>
        <div class="glyphicon glyphicon-remove"></div>
      <% end %>
    </div>
    <% end %>
    <%= form_for @comment do |c| %>
      <%= c.text_area :body, placeholder: "Comment here", required: true %><br>
        <%= c.hidden_field :post_id, :value => p.id %>
      <%= c.submit %>
    <% end %>
  <% end %>
</article>
<!-- User.first.posts.last.comments.create body:"This is retarded", user_id: 1 -->
