<h1>Change Post Info</h1>
<%= form_for @post do |f| %>
  <%= f.label :title %>
    <%= f.text_field(:title, placeholder: 'Anime Name') %><br>
  <%= f.label :body %>
    <%= f.text_area(:body, placeholder: 'Body') %><br>
  <%= f.submit "Change That Post" %>
<% end %>
