<!DOCTYPE html>
<html>
  <head>
    <title>AnimeHangout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
  </head>

  <body>
    <%= render "partials/navbar" %>
    <!-- checking if someone logged in or not and change the button accordingly to login or loggout -->
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
