<!DOCTYPE html>
<html>
  <head>
    <title>AnimeHangout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- checking if someone logged in or not and change the button accordingly to login or loggout -->
    <h3>
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path, method: 'delete' %>
      <% else %>
        <%= link_to 'Login', new_home_path %>
      <% end %>
  </h3>
    <%= yield %>
  </body>
</html>
